*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --var-color1: #6930C3;
    --var-color2: white;
    --var-fontInWhite: #6930C3;
    --var-fontInPurple: white; 

}

body{
    padding-top: 75px;
    background-color: var(--var-color2);
    font-family: 'Roboto', sans-serif;
    font-weight:;
}

::-webkit-scrollbar {
    height: ;

}

/* Elementos*/
header{
    width: 100%;
    background-color: var(--var-color1);
    position: fixed;
    top:0;
    z-index: 100;
    padding: 15px 5% 15px 5%
}

header a{
    color: var(--var-fontInPurple);
    text-decoration: none;
    font-weight:bold;
}

footer{
    width: 100%;
    background-color:var(--var-color1);
    padding: 15px;
}

br{
    clear: both;
}

.portfolio-section h2{
    color:var(--var-fontInPurple);
}

.contato-section h2{
    color:var(--var-fontInWhite);
}

.apresentacao-section p{
    text-align: left;
    font-size: 1.5em;

}

hr{
    height: 1px;
    background-color: var(--var-color2);
    border: none;
    width: 100%;
}

textarea{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}

form{
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}

input{
    width: 50%;
    margin-bottom: 15px;
    margin-top: 5px;
}

input[type="submit"]{
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    align-self: center;
}

img{
    width: 60%;
    object-fit: cover;

}
#contato li{
    float:left;
    margin-left: 30px;
}

#contato ul{
    margin: 0 auto;
}



/* IDs*/
#main{
    width: 100%;
    background-color: var(--var-color2) ;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header-logo{
    width: 40px;
    height: 40px;
    padding: 15px;
    background-image: url("../assets/logo-png.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

#nav-options{
    font-size: 0.8em;
    margin-right: 15px;
    list-style: none;
}

#nav-options li{
    float: right;
    padding: 15px;
    margin-left: 5px;
}

#apresentacao{
    padding: 0;
    margin: 0;
    width: 100%;
  /*   border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px; */
    background-image: url("../assets/outer-space-background.jpg"); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

#p-apresentacao{
    font-size: 0.8em;
    width: 60%;
    margin: 0 auto;
}

#habilidades{
    background-color:var(--var-color2);
    color: var(--var-fontInWhite);

}

#carousel{
    width: 90%;
    background-color: var(--var-color2);
    display: flex;
    overflow: hidden;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    -ms-scroll-snap-type: mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* border: 10px solid black; */

}

#left-arrow {
    position: absolute;
    z-index: 99;
    height: 25px;
    width: 25px;
    top: 50%;
    left: 2%;
    background-image: url("../assets/leftarrow.png");
    background-size: cover;
    background-position: center;
    transform: translate(0%, -50%);
}

#left-arrow:active{
    background-image: url("../assets/leftarrowActive.png");
}
#left-arrow:hover{
    background-image: url("../assets/leftarrowHover.png");
}

#right-arrow {
    position: absolute;
    z-index: 99;
    height: 25px;
    width: 25px;
    top: 50%;
    right: 2%;
    background-image: url("../assets/rightarrow.png");
    background-size: cover;
    background-position: center;
    transform: translate(0%, -50%);
}
#right-arrow:active{
    background-image: url("../assets/rightarrowActive.png");
}
#right-arrow:hover{
    background-image: url("../assets/rightarrowHover.png");
}

#portfolio{
    background-color:var(--var-color1);
    padding: 15px;

}

#project1img{
    background-image: url("../assets/barbecueimg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px
}

#project2img{
    background-image: url("../assets/barbecueimg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px
}

#project3img{
    background-image: url("../assets/barbecueimg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px
}


#contato{
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--var-color2);

}

#contato-form{
    background-color: var(--var-color2);
    text-align: left;
    color:var(--var-fontInWhite);
    box-sizing: border-box;
    width: 80%;
}

#footer-logo{
    width: 150px;

}

#footer-creditos{
    margin-left: 15px;
    text-align: left;
}


/* Classes*/

.sectionClass{
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 15px;
    box-sizing: border-box;

}

.apresentacao-section{
    margin: 0 auto;
    width: 70%;
    padding: 15px;
    font-size: 1.5em;
    color: var(--var-fontInPurple);

}

.section-habilidades{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
    background-color: var(--var-color2);
    box-sizing: border-box;
}

.item{
    flex:none;
    width: 100%;
    -ms-scroll-snap-align:start;
    scroll-snap-align: start;
    pointer-events: none;
}

.portfolio-section{
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px 10px 15px;
    background-color: var(--var-color1);
    box-sizing: border-box;

}

.project-container{
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    background-color: var(--var-color1);
    box-sizing: border-box;

}

.portfolio-section-projectimg{
    width: 40%;
    margin: 0 auto;
    background-color: var(--var-color2);
    box-sizing: border-box;
    float: left;

}

.portfolio-section-projectdescription{
    width: 40%;
    margin: 0 auto;
    margin-left: 15px;
    text-align: left;
    background-color: var(--var-color1);
    color: var(--var-fontInPurple);
    box-sizing: border-box;
    float: right;
}

.contato-section{
   width: 100%;
   background-color: var(--var-color2);
   padding: 10px 20px 10px 20px;  
   margin: 0 auto;
   box-sizing: border-box;
}

.footer-div{
    margin: 0 auto;
    width: 60%;
    padding: 10px;
    color:var(--var-fontInPurple);
    text-align: center;
}

